@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

/* Text Formatting */
.title {
  font-size: 56px;
}

.header {
  font-size: 30px;
}

.subheader {
  font-size: 24px;
}

.descp {
  color: orange;
  text-wrap: balance;
}

/* Cursors */
.item-container a {
  cursor:crosshair;
}

.item-container a:hover{
  color:orange;
}


/* Spacing*/
.body section {
  padding-bottom: 50px;
}

.row-container {
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: center;
  padding-bottom: 15px;
}

.row-container-CS {
  display: flex;
  flex-direction: row;
  gap: 210px;
  align-items: flex-start;
}

/* Center Align */
.item-container {
  display: flex;
  flex-direction: row;   /* Horizontal align */
  gap: 10px;
  align-items: center;   /* Vertical align */
}

/* Collage-Style Align */
.item-container-CS {
  display: flex;
  flex-direction: row;   /* Horizontal align */
  align-items: flex-start;   /* Vertical top align */
}